@{
    ViewData["Title"] = "Home";
}

<style>

</style>


 @if (Model != null && Model.Count > 0 && Model[0].data != null)
    {
        foreach (var datum in Model[0].data)
        {
            <p>@datum.datetime</p>
            <p>@datum.city_name</p>
            <p>SUNRISE TIME: @datum.sunrise</p>
            <p>SUNSET TIME: @datum.sunset</p>        
            <p>SPEED WIND: @datum.wind_spd m/s</p>
            <p>TEMPERATURE: @datum.temp ºC</p>
            <p>HUMITY: @datum.rh %</p>
            <p>CLOUD COVERAGE: @datum.clouds %</p>
            <p>RAIN PRECIPITATION: @datum.precip mm/hr</p>
            <p>SNOW PRECIPITATION: @datum.snow mm/hr</p>
            <p>UV INDEX: @datum.uv </p>
            <p> QUALITY AIR: @datum.aqi</p>
        }
    }
    else
    {
        <p>No se encontraron datos de clima.</p>
    }
