@using PROYECTO_LENGUAJE_MARCAS.Controllers
@{
    ViewData["Title"] = "Home";
    var background = ViewData["Background"]?.ToString();
    var weatherType = ViewData["WeatherType"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .container {
            width: 60%;
            margin: 50px auto;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            padding: 20px;
        }

        .weather-info{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 20px;
            background: linear-gradient(to bottom, #FFFFFF,#b4eaf1, #78d9e6);
            border-radius: 10px;
        }

        .weather-info {
            flex: 1 1 45%;
            margin: 10px;
        }

        .temperature {
            flex-basis: 100%;
            text-align: center;
            font-size: 45px;
            margin: 20px 0;
        }

        .medium{
            border-bottom: 2px solid #000; 
            padding-bottom: 10px; 
            margin-bottom: 20px;
        }

        .secondary {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            margin: 10px 0;
        }

        .secondary p {
            margin: 5px 0;
        }
    </style>

</head>

<body>

<div class="container">
    <div class="weather-info">
        @if (Model != null && Model.Count > 0 && Model[0].data != null)
        {
            foreach (var datum in Model[0].data)
            {
                <h3>@datum.datetime - @datum.city_name</h3>
                <div class="temperature">
                    <p>@datum.temp ºC</p>
                </div>
                <div class="medium">
                    <p>SUNSET TIME: @datum.sunset</p>
                    <p>SUNRISE TIME: @datum.sunrise</p>
                </div>
                <div>
                    <p>HUMIDITY: @datum.rh %</p>
                    <p>CLOUD COVERAGE: @datum.clouds %</p>
                </div>
                <div class="secondary">
                    <p>SPEED WIND: @datum.wind_spd m/s</p>
                    <p>RAIN PRECIPITATION: @datum.precip mm/hr</p>
                    <p>SNOW PRECIPITATION: @datum.snow mm/hr</p>
                    <p>UV INDEX: @datum.uv </p>
                    <p>QUALITY AIR: @datum.aqi</p>
                </div>
                
                @if (datum.precip > 0)
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/lluvia.gif")')"></body>
                }
                else if (datum.snow > 0)
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/nieve.gif")')"></body>
                }
                else if (datum.clouds >= 50)
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/nublado.jpeg")')"></body>
                }
                else
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/soleado.gif")')"></body>
                }
                
                
            }
        }

        else
        {
            <p>No se encontraron datos de clima.</p>
        }

    </div>
</div>

</body>
</html>