@{
    ViewData["Title"] = "Home";
    var background = ViewData["Background"]?.ToString();
    var weatherType = ViewData["WeatherType"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        div.container {
            width: 50%;
            margin: 50px auto;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            overflow: hidden;
        }

        div.weather-info {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        h3.weather-info {
            margin-top: 2px;
        }

        p.weather-info {
            margin: 5px 0;
        }
    </style>

</head>

<body>

<div class="container">
    <div class="weather-info">
        @if (Model != null && Model.Count > 0 && Model[0].data != null)
        {
            foreach (var datum in Model[0].data)
            {
                <h3>@datum.datetime - @datum.city_name</h3>
                <p>SUNRISE TIME: @datum.sunrise</p>
                <p>SUNSET TIME: @datum.sunset</p>
                <p>SPEED WIND: @datum.wind_spd m/s</p>
                <p>TEMPERATURE: @datum.temp ºC</p>
                <p>HUMITY: @datum.rh %</p>
                <p>CLOUD COVERAGE: @datum.clouds %</p>
                <p>RAIN PRECIPITATION: @datum.precip mm/hr</p>
                <p>SNOW PRECIPITATION: @datum.snow mm/hr</p>
                <p>UV INDEX: @datum.uv </p>
                <p>QUALITY AIR: @datum.aqi</p>
                @if (datum.precip > 0)
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/lluvia.gif")')"></body>
                }
                else if (datum.snow > 0)
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/nieve.gif")')"></body>
                }
                else if (datum.clouds >= 50)
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/nublado.jpeg")')"></body>
                }
                else
                {
                    <body style="background-image: url('@Url.Content("~/Content/Images/soleado.gif")')"></body>
                }
            }
        }

        else
        {
            <p>No se encontraron datos de clima.</p>
        }

    </div>
</div>

</body>
</html>